// Specific CSS for your home-page
body, html {
  height: 100%;
}

.bg {

  background-image: image-url('psychic-bg.jpg'), linear-gradient(90deg, rgba(2,0,36,0.34077380952380953) 0%, rgba(2,0,36,0.1783088235294118) 0%);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.hp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 30%;
    opacity: 0.8;
  }
}

.bg h2 {
  color: white;
  font-family: 'Goldman', cursive;
  font-size: 55px;
  opacity: 0.9;
  text-shadow: 1px 2px 4px white;
  padding-bottom: 50px;
}

.index-link {
  opacity: 0.8;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  margin: 11px;
  width: 200px;
  text-align: center;
  a {
  color: inherit;
  text-decoration: none;
  }
}

.index-link:hover{
  opacity: 1;
}

.service-info h3 {
  color: $purple;
}
