<br>
<br>
<br>
<br>

<div class="big-container d-flex justify-content-center">
<%= simple_form_for([@psychic, @booking]) do |f| %>
  <%= f.input :start_date, as: :string, label: "Dates", placeholder: "From", wrapper_html: { class: "inline_field_wrapper" } %>
  <%= f.input :end_date, as: :string, label: '&nbsp;'.html_safe, placeholder: "To", disabled: true, wrapper_html: { class: "inline_field_wrapper" } %>
  <%= f.submit "book", class: "btn btn-primary btn-lg btn-block btn-booking" %>
<% end %>
</div>