<br>
<br>
<br>



<div id='psychic-booking-dates'>
       <%= simple_form_for([@psychic, @booking]) do |f| %>
           <%= f.input :start_date, as: :string, type: :text %>
           <%= f.input :end_date, as: :string, type: :text %>
           <%= f.submit "Book", class: "btn btn-primary" %>
        <% end %>
 </div>
