<div class="bg">
  <div class="hp-container">
    <h2>RENT A PSYCHIC</h2>
    <div class="index-link"> <%= link_to 'book your psychic', psychics_path %></div>
    <%= image_tag 'crystal-ball-hp.png' %>
  </div>
</div>

<div class="home-container p-4">

  <div class="container p-3" style="border: solid 1px lightgrey; border-radius: 5px;">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="infos">
          <h3>Who are we?</h3>
          <p>Rent a Psychic is the leading marketplace of fortune teller, psychic and wizzard rental for all your events/parties/orgies/curse you want to set up. We make sure that we you can find the right service at the right time and at the right price in a simple way. Book your psychics NOW !!!</p>
        </div>
      </div>
      <div class="col-12 col-lg-4 d-flex justify-content-center">
        <img src="https://media.giphy.com/media/8FxtdFhCKXLFTWkX1H/giphy.gif" alt="funny gif" class="img-gif">
      </div>
    </div>
  </div>

<div class="container p-3 mt-4 mb-3" style="border: solid 1px white; border-radius: 5px;">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="infos">
          <h3>What can you book on Rent a Psychic?</h3>
          <p>On the platform you can book any time of service (but we don't want to know about anything illegal, including murder, voodoo or memory theft).Please note that we don't garantee any unfortunate event on our beloved customers in case of frog transformation or ghots invasion.</p>
        </div>
      </div>
      <div class="col-12 col-lg-4 d-flex justify-content-center">
        <img src="https://media.giphy.com/media/xT1XGx85kYUIFWI4wg/giphy.gif" alt="funny gif" class="img-gif">
      </div>
    </div>
  </div>
</div>

<!--  <div class="d-flex gif-box">
      <img src="https://media.giphy.com/media/xT1XGx85kYUIFWI4wg/giphy.gif" alt="funny gif" class="rounded img-gif">
      <img src="https://media.giphy.com/media/8FxtdFhCKXLFTWkX1H/giphy.gif" alt="funny gif" class="rounded img-gif">
    </div>
  </div> -->




<!-- <img src="https://media.giphy.com/media/l2JJu8U8SoHhQEnoQ/giphy.gif">

<img src="https://media.giphy.com/media/dw2yCF4MhcNmSMgpfe/giphy.gif"> -->

<!-- <div class="service-info container">
  <h3>Who are we?</h3>
  <p>
    <strong> Rent a Psychic </strong> is the leading marketplace of fortune teller, psychic and wizzard rental for all your events/parties/orgies/curse you want to set up.
    We make sure that we you can find the right service at the right time and at the right price in a simple way.
    <br> Book your psychics NOW !!!
  </p>
  <h3>What can you book on <strong> Rent a Psychic </strong> </h3>
  <p>
    On the platform you can book any time of service (but we don't want to know about anything illegal, including murder, voodoo or memory theft).
    <br><span>Please note that we don't garantee any unfortunate event on our beloved customers in case of frog transformation or ghots invasion.</span>
  </p> -->
