.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-flexbox-upper-right {
  align-self: flex-start;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 10px;
}
// pour avoir le bouton en haut à droite dans la flexbox

