.dashboard-bg {
  background: rgb(80,64,103);
  background: linear-gradient(0deg, rgba(80,64,103,1) 0%, rgba(50,6,113,1) 62%);
  height: auto;
  min-height: 100%;
  color: white;
}

.status {
color: orange;
padding-left: 4px;
}
